/* IBM Plex Sans Regular */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: url('assets/IBMPlexSans-Regular.ttf') format('truetype');
}
/* IBM Plex Sans Bold */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  src: url('assets/IBMPlexSans-Bold.ttf') format('truetype');
}
