/* IBM Plex Sans Regular */
@font-face {
  font-family: 'ibm-plex-sans';
  font-style: normal;
  font-weight: 400;
  src: url('assets/IBMPlexSans-Regular.ttf') format('truetype');
}
/* IBM Plex Sans Bold */
@font-face {
  font-family: 'ibm-plex-sans';
  font-style: normal;
  font-weight: 700;
  src: url('assets/IBMPlexSans-Bold.ttf') format('truetype');
}

/* Noto Serif Regular */
@font-face {
  font-family: 'noto-serif';
  font-style: normal;
  font-weight: normal;
  src: url('assets/NotoSerif-Regular.ttf') format('truetype');
}
